{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h3 style="padding-top: 20px; padding-right: 20px; padding-left: 20px">Easy Migration Pricing Structure</h3>
<p style="padding-right: 20px; padding-left: 20px">
    As the Easy Migration tool is quite new, no set pricing structure has been determined and will be
    evaluated on a case by case basis. Please contact us at the <a href="/contact">contact page</a> if you would like to 
    discuss price points. Thank you for your understanding!
</p>
{% endblock %}
